.typography__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.typography__title {
}

.typography__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
