.badge {
  padding-inline: var(--space-md);
  padding-block: var(--space-xs);
  color: var(--surface);
  background-color: var(--foreground);
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: var(--leading-1);
  border-radius: var(--rounded-full);
}

.badge__sucess {
  background-color: var(--ds-accent-light);
  color: var(--ds-accent-hover);
}

.badge__danger {
  background-color: var(--ds-danger-light);
  color: var(--ds-danger);
}

.badge__warning {
  background-color: var(--ds-warning-light);
  color: var(--ds-warning);
}

.badge__info {
  background-color: var(--ds-info-light);
  color: var(--ds-info);
}
